/* Style for Header */
.main {
	margin-top:60px;
}

/* Control Bar */

.control_bar {
	overflow: hidden;
	position:fixed;
	background-color:#333;
	color:#fff;
	right:0;
	bottom:0;
	width:35%;
	box-shadow: 0 0 10px #333;
	border-radius: 10px;
}

.control_bar label {
	float:left;
	padding: 14px 16px;
}

.control_bar label:hover {
	background: #ddd;
  	color: #333;
	font-weight: bold;
	text-shadow: 0 0 2px #555;
}

.icon {
	font-size: 30px;
}

.super {
	font-size: 24px;
	vertical-align: super;
	color:#999;
}

.b_true {
	background-color: #999;
	color:#fff;
}

.b_false {
	background-color: inherit;
	color: inherit;
}


/* Navbar */

.navbar {
	overflow: hidden;
	background-color: #333;
	position:fixed;
	top: 0;
	width: 100%;
}

.navbar a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.navbar a:hover,.dropdown:hover .dropbtn {
	background: #ddd;
  	color: #333;
	font-weight: bold;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Style for chords */


.chord {
	font-weight: 700;
	/* color:#92D005; */
	color: #707070;
	padding-right: 1ex;
}

/* .chordline {
}
.lyricsline {
} */
A.chordlink {
	text-decoration: none;
}

A.chordlink:hover {
	text-decoration: underline;
}

.header.chorus {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 98%; */
	color: #eee;
	background-color: black;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	padding: 0 .5em;
}

.comment {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 95%; */
	color: white;
	background-color: black;
	padding: 0 .5em;
}

.header.verse {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 98%; */
	color: white;
	background-color: #5A5A5A;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	padding: 0 .5em;
}

.chorus {
	border-left: solid;
	display: block;
	/* width: 100%; */
	background-color: #D0D0D0;
	border-radius: 10px;
	box-shadow: 0 0 10px #aaa;
	padding-left: 3ex;
}

/* Hovering */

.chord {
	position: relative;
  }
  
  .chord .diagram {
	visibility: hidden;
	width: 125px;
	bottom:100%;
	left:0%;
	background-color: #111;
	color: #aaa;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 15px #333;
	padding: 10px 5px;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  
  .chord:hover .diagram {
	visibility: visible;
  }

ul {
	list-style-type: none;
}
  .listing a {
	  font-size: 20px;
	  text-decoration: none;
	  font-weight:bold;
  }

  .listing li {
	/* width: 100%; */
	padding: 8px;
	margin-bottom: 7px;
	background-color: #444;
	color: #ddd;
	box-shadow: 0 0px 5px #333;
	border-radius: 10px;
  }

  .listing li:hover {
	background-color: #A0A0A0;
	color: #444;
  }


  @media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.control_bar {
	  width: 100%;
	  margin:auto;
	}
	
	.icon {
		font-size: 25px;
	}
  }