html * {
	font-family: Nunito, sans-serif;
}

.content {
	max-width: 700px;
	margin: auto;
}

.dark-mode {
	background-color: #282c34;
	color: #abb2bf;
}

.second_voice.dark-2line {
	color: #98c379;
}
/* Style for Header */
.main {
	margin-top: 60px;
}

/* Control Bar */

.control_bar {
	overflow: hidden;
	position: fixed;
	background-color: #333;
	color: #fff;
	right: 0;
	bottom: 0;
	width: 35%;
	box-shadow: 0 0 10px #333;
	border-radius: 10px;
}

.control_bar label {
	float: left;
	padding: 14px 16px;
}

.control_bar label:hover {
	background: #ddd;
	color: #333;
	font-weight: bold;
	text-shadow: 0 0 2px #555;
}

.icon {
	font-size: 30px;
}

.super {
	font-size: 20px;
	vertical-align: super;
	color: #999;
}


/* Style for chords */


.chord {
	font-weight: 700;
	color: #707070;
	padding-right: 1ex;
}

.chord.dark-chord {
	color: #61afef;
}

.second_voice {
	color: #505050;
}

A.chordlink {
	text-decoration: none;
}

A.chordlink:hover {
	text-decoration: underline;
}


.comment {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 95%; */
	color: white;
	background-color: black;
	padding: 0 .5em;
}

.header.verse {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 98%; */
	color: white;
	background-color: #5A5A5A;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	padding: 0 .5em;
}

.header.locutor {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 98%; */
	color: white;
	background-color: #5A5A5A;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	padding: 0 .5em;
}

.header.pre-chorus {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 98%; */
	color: white;
	background-color: #5A5A5A;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	padding: 0 .5em;
}

.header.inst {
	display: block;
	font-size: 20px;
	font-weight: 750;
	/* width: 98%; */
	color: white;
	background-color: #5A5A5A;
	border-radius: 10px;
	box-shadow: 0 0 10px #333;
	padding: 0 .5em;
}

/* .chorus {
	border-left: solid;
	display: block;
	background-color: #D0D0D0;
	border-radius: 10px;
	box-shadow: 0 0 10px #aaa;
	padding-left: 3ex;
} */

/* Hovering */

.chord {
	position: relative;
}

/* ARREGLAR PENDIENTE

Geagjeoigaoñg
gewhñaehgoj́ep
gejgaejó
*/
.quality {
	margin-left: -5px;
}

.chord .diagram {
	visibility: hidden;
	width: 125px;
	bottom: 100%;
	left: 0%;
	background-color: #111;
	color: #aaa;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 0 15px #333;
	padding: 10px 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.chord:hover .diagram {
	visibility: visible;
}

ul {
	list-style-type: none;
}

.listing a {
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

.listing li {
	/* width: 100%; */
	padding: 8px;
	margin-bottom: 7px;
	background-color: #444;
	color: #ddd;
	box-shadow: 0 0px 5px #333;
	border-radius: 10px;
}

.listing li:hover {
	background-color: #A0A0A0;
	color: #444;
}

.order li {
	width: 50%;
	background-color: #222;
	color: #eee;
	font-weight: bold;
	font-size: 25px;
}

.order li:hover {
	background-color: #bbb;
	color: #222;
}


.locutor {
	color: rgb(158, 157, 157);
	margin-left: 10px;
}

.toolbar {
	opacity: 0.4;
	width: 70%;
}

.toolbar:hover {
	opacity: 1;
}

@media only screen and (max-width: 968px) {

	/* For mobile phones: */
	.toolbar {
		width: 80%;
	}

	.icon {
		font-size: 20px;
	}

	.super {
		font-size: 14px;
	}

}

/* Custom Scrollbar */
body::-webkit-scrollbar {
	width: 12px;
	/* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
	background: rgb(255, 255, 255);
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: rgb(108, 108, 109);
	/* color of the scroll thumb */
	border-radius: 50px;
	/* roundness of the scroll thumb */
	border: 3px solid rgb(255, 255, 255);
	/* creates padding around scroll thumb */
}